/*General*/
*{
    box-sizing: border-box;
}
body {
    font-family: 'Helvetica', 'sans-serif';
    color: #555;
}
/*Sizers and containers**/
.container {
    margin: 0;
    padding: 0;
    min-width: 100%;
}
.full-height {
    min-height: 100vh;
    padding: 50px;
    text-align: center;
    padding: 0;
}
.half-height {
    min-height: 50vh;
    text-align: center;
}
/*Titles and text*/
/* color: #E62b1E; Renasci*/

h1 {
   color: #000;
   margin-top: 10px;
 
}

h2 {
    color: #E62b1E;
    font-weight: 900;
}
h3{
    margin-top: 20px;
} 
strong {
    font-size: 1.5em;
    color: #e62b1e;
    font-weight: bold;
}

p {
    padding: 10px;
    margin: 0 5%;
    text-align: justify;
    text-indent: 25px;
    border: 2px solid #E62b1E;
}
li{
    list-style: none;
    font-size: 1.1em;
} 
/*Inputs*/
input[type="submit"]{
    background-color: #E62b1e;
    border:none;
    color: #FFF;
    margin-top: 5%;
}
/*INICIO*/
#inicio {
    background-image: url("../images/chihuahua-puerta.jpg");
    background-size: cover;
}
<<<<<<< HEAD
/*Voluntarios*/
#voluntarios {
    background-image: url("../images/");
=======

<!-- Contacto
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
form{
    margin-bottom: 1rem;
>>>>>>> 1a337da092976776f60cfd20d3c1b1a7cc0f39f0
}
/*footer*/
footer {
    min-width: 100%;
    text-align: center;
}