/*General*/
*{
    box-sizing: border-box;
}
body {
    font-family: 'Helvetica', 'sans-serif';
    color: #333;
}
/*Sizers and containers**/
.container {
    margin: 0;
    padding: 0;
    min-width: 100%;
}
.full-height {
    min-height: 100vh;
    padding: 50px;
    text-align: center;
    padding: 0;
}
.half-height {
    min-height: 50vh;
    text-align: center;
}
.v-center {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
/*Titles and text*/
/* color: #E62b1E; Renasci*/

h1 {
   color: #000;
   margin-top: 10px;
    font-size: 2.5em;
 
}

h2 {
    color: #E62b1E;
    font-weight: 900;
}
h3{
    margin-top: 20px;
} 
strong {
    font-size: 1.5em;
    color: #e62b1e;
    font-weight: bold;
}

p {
    padding: 10px;
    margin: 0 5%;
    text-align: justify;
    text-indent: 1.5rem;
    border: .2rem solid #E62b1E;
}
li{
    list-style: none;
    font-size: 1.8rem;
} 
/*Inputs*/
input[type="submit"]{
    background-color: #E62b1e;
    border:none;
    color: #FFF;
    margin-top: 5%;
}
/*INICIO*/
#inicio {
    background-image: url("../images/chihuahua-puerta.jpg");
    background-size: cover;
}

/*Voluntarios*/
#voluntarios {
    background-image:url("../images/quintagemeros.jpg");
    background-size: cover;
}
/*Asiste*/
#asiste {
    background-image: url("../images/catedralchi.jpg");
    background-size: cover;
}
/*contacto*/
#contacto {
    background-image: url("../images/glorietafcovilla.jpg");
    background-size: cover;
}

form{
    margin-bottom: 1rem;
}
/*footer*/
footer {
    min-width: 100%;
    text-align: center;
}


#facebook {
    background-image: url(../images/fb.png);
    background-repeat: no-repeat;
    display: inline-block;
    height: 50px;
    width: 50px;
}
