@media (min-width:1025px) {
        .container {
            padding: 0 20%;
        } 
        h1 {
            font-size: 3.5em;
        } 
        .menu {
        min-width: 80vw;
    }
    }
@media (min-width:680px) {
         .menu {
        min-width: 70vw;
    }
}

