@media (min-width:1025px) {
        .container {
            padding: 0 20%;
        } 
        h1 {
            font-size: 3.5em;
        } 
}

@media screen and (max-width:540px){
    .nav-collapse{
        text-align: center;
    }
    .nav-collapse li {
        display: inline-block;
        margin-top: .2rem;   
    }
    .conferencistas .row:not(:first-child){
    margin-top: 15%;   
    }
    
    .conferencistas .row:last-child{
        margin-bottom: 10%;
    }
    
    
}

